footer.site-footer {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 300;

  h3 {
    padding: 20px 0 7px;
    border-bottom: 1px solid $border-dark;
  }

  .widget_nav_menu {
    ul.menu {
      list-style-type: none;

      a {
        color: #fff;
        font-size: $h5-font-size;
        text-decoration: none;

        &:hover {
          color: $branding-orange;
          text-decoration: none;
        }
      }
    }
  }

  .bottom {
    background-color: #000;
    color: #fff;
    border-top: 1px solid $border-dark;

    .bottom-content {
      padding: 15px 0;

      h2 {
        font-size: 1.6rem;
        line-height: 1.4em;
      }

      .icons {
        margin-left: 15px;

        a.social {
          img {
            display: inline-block;
            padding: 0;
            margin: 0 0 0 16px;
          }
        }
      }

      .copyright {
        font-size: $h6-font-size;

        a {
          color: $white;
          padding: 0 5px;

          &:hover {
            color: $branding-orange;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}
