.home-banner {
  width: 100%;
  max-height: 700px;
  overflow-y: hidden;
  position: absolute;

  .banner-image {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    img {
      width: 100%;
    }

    &::after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%);
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 700px;
      overflow: hidden;
      top: 0;
      z-index: 100;
      border: 0;
      outline: 0;
    }
  }
}

.page-banner {
  width: 100%;
  max-height: 700px;
  overflow-y: hidden;
  position: absolute;

  .banner-image {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    img {
      width: 100%;
    }

    &::after {
      background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 20%);
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 700px;
      overflow: hidden;
      top: 0;
      z-index: 100;
      border: 0;
      outline: 0;
    }
  }
}

.page-banner-content {
  height: 20px;
}

.home-banner-content {
  position: relative;
  z-index: 500;
  padding: 0;
  min-height: 260px;

  @include media-breakpoint-up(lg) {
    min-height: 400px;
  }

  .home-cta {
    width: 380px;
    height: 60px;
    position: relative;
    top: 40px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid $branding-orange;

    ul.navbar-nav {
      li.menu-item {
        a {
          color: $white;
          padding: 15px;
          width: 100%;
          font-size: $h3-font-size;

          &:hover {
            color: $branding-orange;
            background: rgba(0, 0, 0, 0.2);
          }

          i {
            float: right;
            height: 60px;
            width: 60px;
            margin: -15px;
            padding-top: 20px;
            text-align: center;
            border-left: 1px solid $branding-orange;
          }
        }

        a.dropdown-toggle {
          &::after {
            display: none;
          }
        }

        ul.dropdown-menu {
          background: rgba(0, 0, 0, 0.6);
          width: 100%;

          li.menu-item {
            background: none;

            a {
              color: $white;
              padding: 3px 0 3px 30px;
              width: 100%;
              font-size: $h4-font-size;

              &:hover {
                color: $branding-orange;
                background: rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
      }
    }
  }
}

.page-banner {
  min-height: 40px;
}
