$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1220px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

/* DEFAULT RADIUS */
$border-radius: 0;

/* NAVBAR */
$dropdown-min-width:             230px;
$dropdown-padding-y:             0.5rem;

$dropdown-item-padding-y:        0.1rem;
$dropdown-item-padding-x:        1rem;
